<input type="text" [(ngModel)]="user">
<button (click)="connect()">Connect</button><br>
<input type="text" [(ngModel)]="group">
<button (click)="notifyGroup()">Join Group</button><br>

<br/>
<table>
  <tr>
    <th>Works</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Task A</td>
    <td><button (click)="getA()">GET</button></td>
  </tr>
  <tr>
    <td>Task B</td>
    <td><button (click)="getB()">GET</button></td>
  </tr>
  <tr>
    <td>Task C</td>
    <td><button (click)="getC()">GET</button></td>
  </tr>
</table>
<br/>

<h2>Notification: </h2>
<p *ngFor="let notification of notifications">{{notification}}</p>
